{% extends 'base.html.twig' %}

{% block title %}Hello ImpressumController!{% endblock %}

{% block body %}
<br>
<div class="container">
<h2>Impressum</h2> <br>
Yagando.de <br>
Deutschland <br>
Bärensteiner Str.14 <br>
D-01277 Dresden <br>
Email: &#105;&#110;&#102;&#111;&#064;&#121;&#097;&#103;&#097;&#110;&#100;&#111;&#046;&#100;&#101; <br><br>

Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDS: Rainer Albrecht (Anschrift wie oben) <br>

Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. <br>
Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. <br><br>

Preis- und alle anderen Produktinformationen werden von unseren Partnern zur Verfügung gestellt. <br>
Kaufverträge werden nur mit dem jeweiligen Partner geschlossen. <br><br>

<strong>Keine Abmahnung ohne vorherigen Kontakt </strong><br>
Sollten Inhalte oder graphische Elemente einzelner Seiten oder Seiten dieses Internetangebots die Rechte Dritter <br>
oder gesetzliche Bestimmungen verletzen oder in irgendeiner Form wettbewerbliche Probleme hervorbringen, <br>
so bitte wir unter Berufung auf §8 Abs. 4 UWG, um eine angemessene, hinreichend erläuternde und <br>
umgehende Benachrichtigung ohne Kostennote. Wir versichern, dass zu Recht beanstandete Passagen in <br>
angemessener Frist entfernt bzw. den rechtlichen Maßgaben entsprechend angepasst werden, <br>
ohne dass von Ihrer Seite die Einschaltung eines Rechtsbeistands erforderlich ist. <br>
Die Einschaltung eines Rechtsbeistands zur kostenpflichtigen Abmahnung entspricht nicht dessen <br>
eigentlichem Willen und würde damit einen Verstoß gegen §13 Abs. 5 UWG, <br>
wegen der Verfolgung sachfremder Ziele als beherrschendes Motiv der Verfahrenseinleitung, <br>
insbesondere einer Kostenerzielungsabsicht als eigentliche Triebfeder, <br>
sowie einen Verstoß gegen die Schadensminderungspflicht darstellen.
<br><br><br><br>
</div>
{% endblock %}
